.fonte-titulo{
	-fx-font-size: 25px;
	
	
}

.fonte-clock{
	-fx-font-size: 50px;
	-fx-font-weight: bold;
	-fx-font-family: "Arial Narrow";
	
}

.fonte-break{
	-fx-font-weight: bold;
	-fx-font-size: 35px;
}